@import "tailwindcss";

@theme{
  --color-primary: #0A2540;
  --color-accent1: #FFC107;
  --color-accent2: #FF6F61;
  --color-accent3: #00B5E2;
  --color-background: #FFFFFF;
  --color-text: #1A1A1A;
}